/* 
    Date       : Octobre 2020
    Auteur     : P. Bonvin
    Sujet      : Feuille de style du modèle de normes et standards Ecole d'informatique 
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 100%;
}

body {
    background-color: #222;
    color: white;
    padding: 4em;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: bold;
    padding: 0.7em;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: white;
}

td {
    padding: 0.7em;
    vertical-align: top;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: gray;
}

.searchButton {
    color: white;
}

.searchBox {
    background-color: #222;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(55, 59, 62);
    background-color: rgb(31, 33, 35);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(168, 160, 149);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(43, 47, 49);
}

li a.active {
    color: white;
    background-color: blueviolet;
}

code {
    width: 100%;
}

.highlighted {
    background-color: blueviolet;
}
